*,*:before,*:after{
    box-sizing:border-box;
  }
  .container{
    width: 940px;
    margin: 0 auto;
  }
  .header{
    display:flex;
    justify-content:space-between;
    padding-top:30px;
    padding-bottom:30px;
  }
  .header img{
    width:175px;
  }
  .menu{
    display:flex;
    align-items: center;
    width:300px;
    justify-content:space-between;
  }
  .menu img{
    width:24px;
  }
  .menu li {
      list-style: none;
  }
  .menu li:hover {
    background-color: green;
}
.menu li a{
    color:green;
    text-decoration:none;
    padding:10px;
  }
  .menu li a:hover{
    color:white;
  }
  .img1{
    margin: 0 auto;
    width: 940px;
    height:496px;
    padding-bottom:50px;
  }
  .content{
    display:flex;
    flex-direction: row;
    padding-top:60px;
    margin: 0 auto;
  }
.content ul{
    margin: 0px;
  }
  .choose{
      padding-left: 0px;
  }

  .choose li{
      width:300px;
      height: 65px;
      list-style: none;
      text-align: center;
      font: normal normal 600 24px/40px "PingFang TC";
      color: #3F5D45;
      padding-top: 14px;
      background: white;
      border: 1px solid #EAF0ED;
    }
  .choose a
  {
      display: block;
      width: 300px;
      height: 65px;
      color: #3F5D45;
      font: normal normal 600 24px/40px "PingFang TC";
      text-decoration:none;
  }
  .choose .de:hover
  {
      background: #EAF0ED 0% 0% no-repeat padding-box;
  }
  .choose h2
  {
      width:300px;
      background: #3F5D45 0% 0% no-repeat padding-box;
      text-align: center;
      font: normal normal 600 24px/60px "PingFang TC";
      color: white;
      margin: 0;
  }
  .foods{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 640px ;
      padding: 0;
  }
  .food{
   width: 300px;
   display: block;
   list-style: none;
   margin-left: 20px;
  }
  .food h4{
      height: 106px;
      text-align: center;
      background: #3F5D45 0% 0% no-repeat padding-box;
      text-align: center;
      font-size: 16px;
      color: white;
      opacity: 1;
      writing-mode: vertical-lr;
      position: absolute;
      padding: 10px;
  }
  .food ul{
    width: 300px;
    padding: 0px;
   }
   .food p{ margin: 0px;
   }
  .foodimg
  {
      position: absolute;
      margin-left: 258px;
      margin-top: 19px;
  }
  .eat
  {
      display: flex;
  
  }
  .eat li
  {
      height: 56px;
      text-align: center;
      list-style: none;
      padding-top: 13px;
      font-weight: bold;
      
  }
  .name
  {
      width: 173px;
      font: normal normal 300 20px/39px "PingFang TC";
      color: #3F5D45;
      opacity: 1;
      border-left: 1px solid #EAF0ED;
  }
  .price
  {
      width: 127px;
      font: normal normal 300 20px/39px "PingFang TC";
      color: #3F5D45;
      opacity: 1;
      border-left: 1px solid #EAF0ED;
      border-right: 1px solid #EAF0ED;
  }
  .food p {
        padding-bottom:10px;
        text-align: center;
  }
  .food a
  {
      display: block;
      width: 300px;
      height: 65px;
      font: normal normal 600 24px/20px "PingFang TC";
      letter-spacing: 0px;
      font-weight: bold;
      color: #3F5D45;
      opacity: 1;
      text-decoration:none;
      background: #EAF0ED;
      padding-top:25px;
  }
  .footer {
    display:flex;
    justify-content:flex-end;
  }
  .fo{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
  }
  .fo li{
    list-style: none;
}
  .fo a{
    border: 1px solid #EAF0ED;
    width:60px;
    height:60px;
    color:#3F5D45;
    display:block;
    text-decoration:none;
    text-align:center;
    padding-top:20px;
  }
  .fo img{
    border: 1px solid #EAF0ED;
    width:60px;
    height:60px;
    color:#3F5D45;
    display:block;
  }
  .fo a:hover{
    text-decoration:none;
    background: #3F5D45 0% 0% no-repeat padding-box;
    color:white;
  }